 <h3>Subscribe To My LetterNews</h3>

    <form action="/main" method="POST">
        <label for="email" id="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email">

        <label for="body"><b>Comment</b></label>
        <textarea name="body" cols="20" rows="5" placeholder="Enter Any Comments"></textarea>

        <input type="submit" value="Send" class="btn">
    </form>
